div.theme-bold .jw-btn-primary {
  color: #ce362b;
  border-color: #ce362b;
}
div.theme-bold .jw-btn-primary:hover {
  background: #ce362b;
  color: #fff;
}
div.theme-bold .jw-custom-dropdown p i:last-child {
  color: #ce362b;
}
div.theme-bold .jw-jobs-list.jw-tiled li .jw-btn-secondary {
  color: #ce362b;
  background-color: #F5F8FC;
}
div.theme-bold .jw-jobs-list.jw-tiled li .jw-btn-secondary:hover {
  background-color: #D2D7E7;
}
div.theme-bold .jw-job-detail-container section.jw-header .jw-primary-actions .jw-btn-primary {
  font-weight: bold;
  font-size: 16px;
  padding: 0.9rem 1.5rem;
  border-radius: 4rem;
  box-shadow: none;
  text-transform: none;
  transition: all 0.15s ease-in-out;
}
div.theme-bold .jw-job-detail-container section.jw-job-details .jw-others-col .jw-share-openings div:hover i {
  color: #ce362b;
}
div.theme-bold .jw-link:hover {
  color: #ce362b;
}
div.theme-bold .jw-checkbox-container input:checked ~ .jw-checkmark {
  border: 1px solid #ce362b;
  background: #ce362b;
}
div.theme-bold .jw-checkbox-container:hover input ~ .jw-checkmark {
  border-color: #ce362b;
}
div.theme-default .jw-btn-primary {
  color: #4b96e6;
  border-color: #4b96e6;
}
div.theme-default .jw-btn-primary:hover {
  background: #4b96e6;
  color: #fff;
}
div.theme-default .jw-custom-dropdown p i:last-child {
  color: #4b96e6;
}
div.theme-default .jw-jobs-list.jw-tiled li .jw-btn-secondary {
  color: #4b96e6;
  background-color: #F5F8FC;
}
div.theme-default .jw-jobs-list.jw-tiled li .jw-btn-secondary:hover {
  background-color: #D2D7E7;
}
div.theme-default .jw-job-detail-container section.jw-header .jw-primary-actions .jw-btn-primary {
  background: #4b96e6;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 0.9rem 1.5rem;
  border-radius: 4rem;
  box-shadow: none;
  text-transform: none;
  transition: all 0.15s ease-in-out;
}
div.theme-default .jw-job-detail-container section.jw-job-details .jw-others-col .jw-share-openings div:hover i {
  color: #4b96e6;
}
div.theme-default .jw-link:hover {
  color: #4b96e6;
}
div.theme-default .jw-checkbox-container input:checked ~ .jw-checkmark {
  border: 1px solid #4b96e6;
  background: #4b96e6;
}
div.theme-default .jw-checkbox-container:hover input ~ .jw-checkmark {
  border-color: #4b96e6;
}
div.theme-calm .jw-btn-primary {
  color: #4ECDC4;
  border-color: #4ECDC4;
}
div.theme-calm .jw-btn-primary:hover {
  background: #4ECDC4;
  color: #fff;
}
div.theme-calm .jw-custom-dropdown p i:last-child {
  color: #4ECDC4;
}
div.theme-calm .jw-jobs-list.jw-tiled li .jw-btn-secondary {
  color: #4ECDC4;
  background-color: #F5F8FC;
}
div.theme-calm .jw-jobs-list.jw-tiled li .jw-btn-secondary:hover {
  background-color: #D2D7E7;
}
div.theme-calm .jw-job-detail-container section.jw-header .jw-primary-actions .jw-btn-primary {
  background: #4ECDC4;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 0.9rem 1.5rem;
  border-radius: 4rem;
  box-shadow: none;
  text-transform: none;
  transition: all 0.15s ease-in-out;
}
div.theme-calm .jw-job-detail-container section.jw-job-details .jw-others-col .jw-share-openings div:hover i {
  color: #4ECDC4;
}
div.theme-calm .jw-link:hover {
  color: #4ECDC4;
}
div.theme-calm .jw-checkbox-container input:checked ~ .jw-checkmark {
  border: 1px solid #4ECDC4;
  background: #4ECDC4;
}
div.theme-calm .jw-checkbox-container:hover input ~ .jw-checkmark {
  border-color: #4ECDC4;
}
div.theme-woody .jw-btn-primary {
  color: #b19f48;
  border-color: #b19f48;
}
div.theme-woody .jw-btn-primary:hover {
  background: #b19f48;
  color: #fff;
}
div.theme-woody .jw-custom-dropdown p i:last-child {
  color: #b19f48;
}
div.theme-woody .jw-jobs-list.jw-tiled li .jw-btn-secondary {
  color: #b19f48;
  background-color: #F5F8FC;
}
div.theme-woody .jw-jobs-list.jw-tiled li .jw-btn-secondary:hover {
  background-color: #D2D7E7;
}
div.theme-woody .jw-job-detail-container section.jw-header .jw-primary-actions .jw-btn-primary {
  background: #b19f48;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 0.9rem 1.5rem;
  border-radius: 4rem;
  box-shadow: none;
  text-transform: none;
  transition: all 0.15s ease-in-out;
}
div.theme-woody .jw-job-detail-container section.jw-job-details .jw-others-col .jw-share-openings div:hover i {
  color: #b19f48;
}
div.theme-woody .jw-link:hover {
  color: #b19f48;
}
div.theme-woody .jw-checkbox-container input:checked ~ .jw-checkmark {
  border: 1px solid #b19f48;
  background: #b19f48;
}
div.theme-woody .jw-checkbox-container:hover input ~ .jw-checkmark {
  border-color: #b19f48;
}
div.theme-tangy .jw-btn-primary {
  color: #e86b3e;
  border-color: #e86b3e;
}
div.theme-tangy .jw-btn-primary:hover {
  background: #e86b3e;
  color: #fff;
}
div.theme-tangy .jw-custom-dropdown p i:last-child {
  color: #e86b3e;
}
div.theme-tangy .jw-jobs-list.jw-tiled li .jw-btn-secondary {
  color: #e86b3e;
  background-color: #F5F8FC;
}
div.theme-tangy .jw-jobs-list.jw-tiled li .jw-btn-secondary:hover {
  background-color: #D2D7E7;
}
div.theme-tangy .jw-job-detail-container section.jw-header .jw-primary-actions .jw-btn-primary {
  background: #e86b3e;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 0.9rem 1.5rem;
  border-radius: 4rem;
  box-shadow: none;
  text-transform: none;
  transition: all 0.15s ease-in-out;
}
div.theme-tangy .jw-job-detail-container section.jw-job-details .jw-others-col .jw-share-openings div:hover i {
  color: #e86b3e;
}
div.theme-tangy .jw-link:hover {
  color: #e86b3e;
}
div.theme-tangy .jw-checkbox-container input:checked ~ .jw-checkmark {
  border: 1px solid #e86b3e;
  background: #e86b3e;
}
div.theme-tangy .jw-checkbox-container:hover input ~ .jw-checkmark {
  border-color: #e86b3e;
}
div.theme-fresh .jw-btn-primary {
  color: #3EAF5A;
  border-color: #3EAF5A;
}
div.theme-fresh .jw-btn-primary:hover {
  background: #3EAF5A;
  color: #fff;
}
div.theme-fresh .jw-custom-dropdown p i:last-child {
  color: #3EAF5A;
}
div.theme-fresh .jw-jobs-list.jw-tiled li .jw-btn-secondary {
  color: #3EAF5A;
  background-color: #F5F8FC;
}
div.theme-fresh .jw-jobs-list.jw-tiled li .jw-btn-secondary:hover {
  background-color: #D2D7E7;
}
div.theme-fresh .jw-job-detail-container section.jw-header .jw-primary-actions .jw-btn-primary {
  background: #3EAF5A;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 0.9rem 1.5rem;
  border-radius: 4rem;
  box-shadow: none;
  text-transform: none;
  transition: all 0.15s ease-in-out;
}
div.theme-fresh .jw-job-detail-container section.jw-job-details .jw-others-col .jw-share-openings div:hover i {
  color: #3EAF5A;
}
div.theme-fresh .jw-link:hover {
  color: #3EAF5A;
}
div.theme-fresh .jw-checkbox-container input:checked ~ .jw-checkmark {
  border: 1px solid #3EAF5A;
  background: #3EAF5A;
}
div.theme-fresh .jw-checkbox-container:hover input ~ .jw-checkmark {
  border-color: #3EAF5A;
}
/* Setting primary colours based on theme */
/* General styles */
* {
  box-sizing: border-box;
}
.jw-widget-container {
  font-size: 14px;
  line-height: 1.42857143;
  padding: 15px 20px 25px 40px;
}
.jw-widget-container p {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 15px;
}
.jw-widget-container a,
.jw-widget-container .jw-link {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  text-decoration: none;
  cursor: pointer;
  color: #555C6A;
}
.jw-widget-container a[disabled],
.jw-widget-container .jw-link[disabled],
.jw-widget-container a[disabled]:hover,
.jw-widget-container .jw-link[disabled]:hover {
  cursor: not-allowed;
  color: #D2D7E7 !important;
}
.jw-widget-container i[class^="jw-icon-"],
.jw-widget-container i[class*=" jw-icon-"] {
  margin-right: 6px;
}
.jw-widget-container .text-center {
  text-align: center;
}
.jw-widget-container .text-right {
  text-align: right;
}
.jw-widget-container .jw-hr {
  margin: 20px 0;
  border: 0.5px solid #D2D7E7;
}
.jw-widget-container ::-webkit-input-placeholder {
  color: red;
}
.jw-widget-container :-moz-placeholder {
  color: red;
  opacity: 1;
}
.jw-widget-container ::-moz-placeholder {
  color: #D2D7E7;
  opacity: 1;
}
.jw-widget-container :-ms-input-placeholder {
  color: #D2D7E7;
}
.jw-widget-container ::-ms-input-placeholder {
  color: #D2D7E7;
}
.jw-widget-container ::placeholder {
  color: #A6ADC9;
  margin-right: 10rem;
}
.jw-btn-primary {
  padding: 13px 20px;
  min-width: 95px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  text-align: center;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  cursor: pointer;
  border: 1px solid;
  box-shadow: 0 2px 4px 0 rgba(228, 229, 239, 0.5);
  text-transform: uppercase;
}
.jw-btn-default {
  padding: 13px 20px;
  min-width: 95px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  text-align: center;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  cursor: pointer;
  border: 1px solid #D2D7E7;
  box-shadow: 0 2px 4px 0 rgba(228, 229, 239, 0.5);
  color: #4A4A4A;
}
.jw-btn-default:hover {
  background: #D2D7E7;
}
.jw-btn-secondary {
  padding: 13px 20px;
  min-width: 95px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  text-align: center;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  cursor: pointer;
  color: #656C8A;
  text-transform: uppercase;
  border: 1px solid transparent;
}
.jw-btn-secondary:hover {
  background: #F5F8FC;
  border: 1px solid #F5F8FC;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  color: #A6ADC9
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;

}

input[type=submit]:hover {
  background-color: #45a049;
}

.search-list-display {
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 #E4E5EF;
  background-color: #F5F8FC;
  position: relative;
  padding: 30px;
  margin-top: 30px;
}

.search-list-display-labels {
  height: 30px;
  font-size: 14px;
  border: 1px solid #D2D7E7;
  border-radius: 3px;
  display: inline-block;
  padding: 4px 15px;
  color: #555C6A;
  margin-right: 10px
}

.search-cancel-button {
  background: transparent;
  border: transparent;
  margin-left: 10px;
}

.jw-custom-dropdown {
  position: relative;
  display: inline-block;
  color: pointer;
  text-align: left;
  height: 40px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D2D7E7;
  background-color: #fff;
  cursor: pointer;
  padding: 5px;
}
.jw-custom-dropdown > p {
  padding: 11px 12px;
  color: #A6ADC9;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 14px;
}
.jw-custom-dropdown > p i:last-child {
  font-weight: bold;
  margin-right: 0;
  position: absolute;
  right: 8px;
  top: 12px;
}
.jw-custom-dropdown .jw-dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  border: 1px solid #D2D7E7;
  width: 100%;
  top: 40px;
  left: -1px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  max-height: 400px;
  overflow-y: auto;
}
.jw-custom-dropdown .jw-dropdown-content > a {
  background-color: #fff;
  color: #A6ADC9;
  padding: 8px 16px;
  display: block;
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
.jw-custom-dropdown .jw-dropdown-content > a:hover {
  background-color: #D2D7E7;
  color: #A6ADC9;
}
.jw-custom-dropdown .jw-dropdown-content > a[disabled]:hover {
  background-color: #fff;
}
.jw-custom-dropdown.jw-show .jw-dropdown-content {
  display: block;
}
.jw-label-bordered {
  height: 25px;
  font-size: 13px;
  border: 1px solid #D2D7E7;
  border-radius: 3px;
  display: inline-block;
  padding: 4px 15px;
  color: #555C6A;
  background: #D2D7E7;
}
p.jw-has-error {
  margin-top: 6px;
  color: #d43f3a;
  font-size: 14px;
}
.jw-empty-state {
  text-align: center;
  font-size: 22px;
  margin: 50px auto;
  color: #D2D7E7;
}
.jw-checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  color: #555C6A;
  font-weight: 300;
}
.jw-checkbox-container > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.jw-checkbox-container > input:checked ~ .jw-checkmark:after {
  display: block;
}
.jw-checkbox-container .jw-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border: 1px solid #D2D7E7;
  border-radius: 3px;
  background-color: #fff;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.jw-checkbox-container .jw-checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 7px;
  height: 13px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.jw-checkbox-container .jw-checkmark.jw-has-error {
  border-color: #efb9b8 !important;
}
.jw-animate-top {
  position: relative;
  animation: jwAnimateTop 0.4s;
}
@keyframes jwAnimateTop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.jw-modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.jw-modal .jw-modal-content {
  box-shadow: 0 2px 4px 0 rgba(51, 51, 51, 0.5);
  border-radius: 3px;
  background-color: #fff;
  margin: 8% auto 0 auto;
  border: 1px solid #D2D7E7;
  width: 50%;
}
.jw-modal .jw-modal-content .jw-modal-header {
  padding: 20px;
  text-align: center;
  background: #F5F8FC;
  border-bottom: 1px solid #D2D7E7;
}
.jw-modal .jw-modal-content .jw-modal-header h2 {
  text-align: center;
  margin: 0;
  color: #656C8A;
}
.jw-modal .jw-modal-content .jw-modal-header .jw-modal-close {
  margin-top: -12px;
  color: #A6ADC9;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
}
.jw-modal .jw-modal-content .jw-modal-header .jw-modal-close:hover,
.jw-modal .jw-modal-content .jw-modal-header .jw-modal-close:focus {
  color: #656C8A;
  text-decoration: none;
  cursor: pointer;
}
.jw-modal .jw-modal-content .jw-modal-body {
  padding: 20px;
  color: #9B9B9B;
  font-size: 18px;
}
.jw-modal .jw-modal-content .jw-modal-body .jw-form-group {
  margin-bottom: 12px;
}
.jw-modal .jw-modal-content .jw-modal-body .jw-form-group > div {
  padding: 10px;
  display: inline-block;
}
.jw-modal .jw-modal-content .jw-modal-body .jw-form-group > div.jw-form-input {
  width: 80%;
}
.jw-modal .jw-modal-content .jw-modal-body .jw-form-group > div.jw-form-label {
  width: 20%;
  text-align: right;
  vertical-align: top;
  padding-top: 17px;
}
.jw-modal .jw-modal-content .jw-modal-body .jw-form-group:first-child input {
  width: 45%;
}
.jw-modal .jw-modal-content .jw-modal-body .jw-form-group:first-child input:first-child {
  margin-right: 2%;
}
.jw-modal .jw-modal-content .jw-modal-body input {
  padding: 0 10px;
  color: #555C6A;
  display: inline-block;
  height: 40px;
  width: 92%;
  border-radius: 3px;
  border: 1px solid #D2D7E7;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  font-size: 16px;
}
.jw-modal .jw-modal-content .jw-modal-body input.jw-has-error {
  border: 1px solid #efb9b8;
}
.jw-modal .jw-modal-content .jw-modal-body .intl-tel-input {
  width: 100%;
}
.jw-modal .jw-modal-content .jw-modal-body .intl-tel-input .selected-flag {
  outline: none;
}
.jw-modal .jw-modal-content .jw-modal-footer {
  border-top: 1px solid #D2D7E7;
  padding: 20px;
  text-align: right;
}
.jw-modal .jw-modal-content .jw-modal-footer > div:first-child {
  margin-right: 12px;
}
/* List screen styles */
.jw-current-openings .jw-filter-container:not(:empty) {
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 #E4E5EF;
  background-color: #F5F8FC;
  position: relative;
  padding: 20px;
}
.jw-current-openings .jw-filter-container:not(:empty) .jw-filter-search + .jw-filter-dropdown {
  margin-top: 15px;
}
.jw-current-openings .jw-filter-container:not(:empty) .jw-filter-dropdown > p,
.jw-current-openings .jw-filter-container:not(:empty) .jw-filter-search > p {
  color: #656C8A;
  margin-left: 4px;
}
.jw-current-openings .jw-filter-container:not(:empty) .jw-filter-dropdown ul.jw-filters,
.jw-current-openings .jw-filter-container:not(:empty) .jw-filter-search ul.jw-filters {
  padding: 12px 0px 4px 0px;
  margin: -3px;
}
.jw-current-openings .jw-filter-container:not(:empty) .jw-filter-dropdown ul.jw-filters > li,
.jw-current-openings .jw-filter-container:not(:empty) .jw-filter-search ul.jw-filters > li {
  position: relative;
  list-style: none;
  padding: 0 4px;
  margin-bottom: 12px;
}
.jw-current-openings .jw-filter-container:not(:empty) .jw-filter-dropdown ul.jw-filters > li:last-child,
.jw-current-openings .jw-filter-container:not(:empty) .jw-filter-search ul.jw-filters > li:last-child {
  font-size: 22px;
  line-height: 22px;
  text-align: center;
}
.jw-current-openings .jw-filter-container:not(:empty) .jw-filter-dropdown ul.jw-filters:after,
.jw-current-openings .jw-filter-container:not(:empty) .jw-filter-search ul.jw-filters:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 768px) {
  .jw-current-openings .jw-filter-container:not(:empty) .jw-filter-dropdown ul.jw-filters > li,
  .jw-current-openings .jw-filter-container:not(:empty) .jw-filter-search ul.jw-filters > li {
    float: left;
    margin-bottom: 0;
  }
  .jw-current-openings .jw-filter-container:not(:empty) .jw-filter-dropdown ul.jw-filters > li:not(:last-child),
  .jw-current-openings .jw-filter-container:not(:empty) .jw-filter-search ul.jw-filters > li:not(:last-child) {
    width: calc(24% - 10px);
  }
  .jw-current-openings .jw-filter-container:not(:empty) .jw-filter-dropdown ul.jw-filters > li:last-child,
  .jw-current-openings .jw-filter-container:not(:empty) .jw-filter-search ul.jw-filters > li:last-child {
    width: 6%;
    padding-top: 8px;
    text-align: right;
  }
}
.jw-current-openings .jw-jobs {
  padding: 20px 25px 0px 25px;
}
.jw-current-openings .jw-jobs .jw-list-title {
  margin: 40px auto 20px auto;
  border-bottom: 2px solid #D2D7E7;
}
.jw-current-openings .jw-jobs .jw-list-title > span {
  margin-bottom: 8px;
  display: inline-block;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 14px;
  color: #555C6A;
  background: #F5F8FC;
}
.jw-current-openings .jw-jobs .jw-list-title > span i {
  color: #A6ADC9;
}
.jw-widget-container .jw-current-openings .jw-jobs .jw-list-title > span:before {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 70px;
  height: 5px;
  background-color: #4d94e4;
}
.jw-widget-container .jw-current-openings .jw-jobs .jw-list-title > span {
  background: transparent;
  font-size: 32px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1rem;
  color: #2B2D38;
  position: relative;
  line-height: normal;
}

.jw-current-openings .jw-jobs .jw-list-title > span {
  margin-bottom: 8px;
  display: inline-block;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 14px;
  color: #555C6A;
  background: #F5F8FC;
}
.jw-widget-container .jw-current-openings .jw-jobs .jw-list-title > span i {
  display: none; }
  .jw-widget-container .jw-current-openings .jw-jobs .jw-list-title > span i {
    display: none; }
.jw-current-openings .jw-jobs ul.jw-jobs-list {
  padding: 0;
  margin: 0;
}
.jw-widget-container .jw-current-openings .jw-jobs .jw-list-title {
  border-bottom: 0; }
.jw-current-openings .jw-jobs ul.jw-jobs-list > li {
  list-style: none;
  padding: 20px;
  margin-left: 0;
  font-size: 16px;
  color: #555C6A;
  word-break: break-word;
}
.jw-current-openings .jw-jobs ul.jw-jobs-list > li .jw-job-title {
  margin-bottom: 12px;
}
.jw-current-openings .jw-jobs ul.jw-jobs-list > li .jw-job-title a {
  font-size: 120%;
  font-weight: bold;
  line-height: normal;
}
.jw-current-openings .jw-jobs ul.jw-jobs-list > li i {
  color: #A6ADC9;
}
.jw-current-openings .jw-jobs ul.jw-jobs-list > li span {
  margin-right: 12px;
  margin-bottom: 5px;
  display: inline-block;
}
.jw-current-openings .jw-jobs ul.jw-jobs-list > li .jw-btn-secondary {
  margin-left: 12px;
}
.jw-current-openings .jw-jobs ul.jw-jobs-list:after {
  content: "";
  display: table;
  clear: both;
}
.jw-current-openings .jw-jobs ul.jw-jobs-list.jw-stacked > li .jw-btn-footer {
  margin-top: 12px;
  margin-left: 0;
}
.jw-current-openings .jw-jobs ul.jw-jobs-list.jw-stacked > li:hover {
  border-radius: 3px;
  background-color: #FCFDFF;
  box-shadow: 0 2px 4px 0 #E4E5EF;
}
@media (min-width: 768px) {
  .jw-current-openings .jw-jobs ul.jw-jobs-list.jw-stacked > li {
    display: flex;
    align-items: center;
  }
  .jw-current-openings .jw-jobs ul.jw-jobs-list.jw-stacked > li .jw-brief-content {
    flex-grow: 1;
  }
  .jw-current-openings .jw-jobs ul.jw-jobs-list.jw-stacked > li .jw-btn-footer {
    margin-left: 15px;
    margin-top: 0;
  }
  .jw-current-openings .jw-jobs ul.jw-jobs-list.jw-stacked > li .jw-btn-footer .jw-actions {
    display: inline-flex;
    flex-wrap: nowrap;
  }
}
.jw-current-openings .jw-jobs ul.jw-jobs-list.jw-tiled li {
  padding: 20px 25px;
  border-radius: 3px;
  border: 1px solid #D2D7E7;
}
.jw-current-openings .jw-jobs ul.jw-jobs-list.jw-tiled li .jw-btn-footer {
  margin-top: 12px;
}
@media (min-width: 768px) {
  .jw-current-openings .jw-jobs ul.jw-jobs-list.jw-tiled {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
/* Details screen styles */
.jw-job-detail-container section.jw-header {
  font-size: 16px;
  color: #555C6A;
  word-break: break-word;
}
.jw-job-detail-container section.jw-header p.jw-division {
  margin-top: 70px;
  font-weight: bold;
  font-size: 16px;
  color: black;
}
.jw-job-detail-container section.jw-header h1.jw-section-title {
  font-size: 36px;
  margin: 6px 0 12px 0;
  color: black;
}
.jw-job-detail-container section.jw-header i {
  color: #A6ADC9;
}
.jw-job-detail-container section.jw-header span {
  margin-right: 12px;
  margin-bottom: 5px;
  display: inline-block;
}
.jw-job-detail-container section.jw-header .jw-primary-actions {
  margin-top: 40px;
}
.jw-job-detail-container section.jw-header .jw-primary-actions .jw-btn-primary {
  min-width: 200px;
  background: #4b96e6;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 0.9rem 1.5rem;
  border-radius: 4rem;
  box-shadow: none;
  text-transform: none;
  transition: all 0.15s ease-in-out;
}
.jw-job-detail-container section.jw-header .jw-primary-actions .jw-btn-primary:hover {
  opacity: 0.8;
}
.jw-job-detail-container section.jw-job-details:after {
  content: "";
  display: table;
  clear: both;
}
.jw-job-detail-container section.jw-job-details .jw-description-col {
  color: #4A4A4A;
  float: left;
  padding: 0 10px 0 0;
  width: 70%;
}
.jw-job-detail-container section.jw-job-details .jw-others-col {
  float: left;
  padding: 0 0 0 10px;
  width: 30%;
}
.jw-job-detail-container section.jw-job-details .jw-others-col p {
  color: #9B9B9B;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}
.jw-job-detail-container section.jw-job-details .jw-others-col .jw-job-openings {
  padding: 20px;
  border: 1px solid #D2D7E7;
}
.jw-job-detail-container section.jw-job-details .jw-others-col .jw-job-openings .jw-jobs {
  margin: 30px 0;
  font-size: 14px;
  color: #555C6A;
  word-break: break-word;
}
.jw-job-detail-container section.jw-job-details .jw-others-col .jw-job-openings .jw-jobs a {
  display: inline-block;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 18px;
}
.jw-job-detail-container section.jw-job-details .jw-others-col .jw-job-openings .jw-jobs i {
  color: #A6ADC9;
}
.jw-job-detail-container section.jw-job-details .jw-others-col .jw-job-openings .jw-jobs span {
  margin-right: 12px;
  margin-bottom: 5px;
  display: inline-block;
}
.jw-job-detail-container section.jw-job-details .jw-others-col .jw-share-openings {
  padding: 20px;
}
.jw-job-detail-container section.jw-job-details .jw-others-col .jw-share-openings div {
  outline: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #D2D7E7;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  text-align: center;
  padding: 10px;
  margin-right: 12px;
  margin-bottom: 12px;
  color: #555C6A;
  font-size: 22px;
  line-height: 22px;
}
.jw-job-detail-container section.jw-job-details .jw-others-col .jw-share-openings div i {
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  margin-right: 0;
}
.jw-job-detail-container section.jw-job-details .jw-others-col .jw-subscription {
  padding: 20px;
  border: 1px solid #D2D7E7;
  color: #9B9B9B;
  font-size: 16px;
}
.jw-job-detail-container section.jw-job-details .jw-others-col .jw-subscription p {
  font-size: 18px;
  text-transform: initial;
}
.jw-job-detail-container section.jw-job-details .jw-others-col .jw-subscription .jw-btn-primary {
  width: 100%;
}
iv.theme-default .jw-btn-primary {
  color: #4b96e6;
  border-color: #4b96e6;
}

.jw-widget-container .jw-btn-primary, .jw-widget-container .jw-btn-secondary, .jw-widget-container .jw-btn-default {
  font-weight: bold;
  font-size: 16px;
  padding: 0.9rem 1.5rem;
  border-radius: 4rem;
  box-shadow: none;
  text-transform: none;
  transition: all 0.15s ease-in-out;
}
.jw-widget-container a, .jw-widget-container .jw-link {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  text-decoration: none;
  cursor: pointer;
  color: #555C6A;
}
.jw-btn-primary {
  padding: 13px 20px;
  min-width: 95px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  text-align: center;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  cursor: pointer;
  border: 1px solid;
  box-shadow: 0 2px 4px 0 rgba(228, 229, 239, 0.5);
  text-transform: uppercase;
}
a {
  color: #4d94e4;
  text-decoration: none;
  background-color: transparent;
}
.jw-current-openings .jw-jobs ul.jw-jobs-list > li .jw-btn-secondary {
  margin-left: 12px;
}

.jw-widget-container .jw-btn-primary, .jw-widget-container .jw-btn-secondary, .jw-widget-container .jw-btn-default {
  font-weight: bold;
  font-size: 16px;
  padding: 0.9rem 1.5rem;
  border-radius: 4rem;
  box-shadow: none;
  text-transform: none;
  transition: all 0.15s ease-in-out;
}
.jw-widget-container .jw-current-openings .jw-jobs .jw-jobs-list > li .jw-job-title {
  position: relative;
  color: #2B2D38;
}
.jw-widget-container .jw-current-openings .jw-jobs .jw-jobs-list > li .jw-job-title a:not(:hover):not(:focus) {
  color: #2B2D38 !important;
}
.jw-widget-container .jw-current-openings .jw-jobs .jw-jobs-list > li .jw-brief-details {
  visibility: visible !important;
}
.jw-current-openings .jw-jobs ul.jw-jobs-list > li span {
  margin-right: 12px;
  margin-bottom: 5px;
  display: inline-block;
}
.jw-widget-container .jw-current-openings .jw-jobs .jw-jobs-list > li .jw-brief-details {
  visibility: visible !important;
}
.jw-widget-container .jw-current-openings .jw-jobs .jw-jobs-list > li i {
  color: #656C8A;
}

.jw-current-openings .jw-jobs ul.jw-jobs-list > li i {
  color: #A6ADC9;
}
.jw-widget-container i[class^="jw-icon-"], .jw-widget-container i[class*=" jw-icon-"] {
  margin-right: 6px;
}
.jw-icon-department:before {
  content: "\E902";
}
.jw-icon-location:before {
  content: "\E907";
}
/*Responsive handling */
@media (max-width: 768px) {
  .jw-current-openings .jw-filter-container:not(:empty) {
    font-size: 16px;
    padding: 20px;
  }
  .jw-current-openings .jw-filter-container:not(:empty) .jw-filter-block {
    position: relative;
    transform: none;
    -webkit-transform: none;
    left: 0;
    right: 0;
  }
  .jw-job-detail-container section.jw-job-details .jw-description-col,
  .jw-job-detail-container section.jw-job-details .jw-others-col {
    width: 100%;
    padding: 0;
    margin: 10px auto;
  }
  .jw-modal .jw-modal-content {
    width: 100%;
  }
  .jw-modal .jw-modal-content .jw-modal-body .jw-form-group .jw-form-input input {
    width: 100% !important;
  }
  .jw-modal .jw-modal-content .jw-modal-body .jw-form-group:first-child .jw-form-input input:first-child {
    margin-bottom: 6px;
  }
}
